* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ruckle';
    src: url('fonts/RuckleRegular.woff2') format('woff2'),
        url('fonts/RuckleRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Bold.woff2') format('woff2'),
        url('fonts/SourceCodePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.woff2') format('woff2'),
        url('fonts/Cantarell-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.text p, .lets p{
    font-family: 'Cantarell';
    font-weight: bold;
}

.parent-container {
    display: flex;
    flex-direction: row;
}

#image-container {
    width: 500px;
    height: 650px;
    margin-left: -8px;
    margin-top: -8px;
}

#image-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#text-container {
    width: 700px;
    height: 100px;
    margin-top: -5px;
    margin-right: -5px;
    flex-direction: column;
}

.information {
    width: 850px;
    height: 250px;
    margin-top: -11px;
    padding-top: 105px;
    background-color: rgba(241, 241, 235, 0.596);
    margin-bottom: 10px;
    box-shadow: 0 4px 5px rgb(226, 226, 226);
}

.text {
    width: 420px;
    margin-left: 30px;
}

#forms {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 850px;
    height: 230px;
    padding-left: 30px;
    margin-top: -10px;
    box-shadow:  0 4px 5px rgb(226, 226, 226);
}

.submit-button {
    width: 850px;
    height: 170px;
    padding-left: 30px;
    margin-top: 32px;
    margin-left: -30px;
    /* border: 1px solid black; */
    background-color: rgba(241, 241, 235, 0.596);
}

#name, #credentials, #password {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


input[type=submit]{
    background-color: #596D48;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.log-in {
    color: #596D48;;
}

input[type=submit]:hover {
    transform: scale(1.2);
}

label {
    font-family: 'Source Code Pro';
    font-size: small;
}

input:focus{
    border-radius: 5px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

#name, #credentials {
    margin-bottom: 10px;
}